<h2>{{title}}</h2>
<ng-container *ngIf="games && sliderConfig">
  <div class="movie">
    <div class="movie__images">
      <div class="thumbnails">
        <ngx-slick-carousel [config]="sliderConfig" class="carousel">
          <div class="slick-item" *ngFor="let m of games.results">
            <img
              [src]="m?.posterPath || environment.defaultPath"
              (click)="onClick(m)"
              alt="{{m.title}}"
            >
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</ng-container>