<div class="container">
  <app-header [showBanner]="false"></app-header>

</div>
<div class="cover-wrapper">
  <h1>{{ title }}</h1>
  <img alt="Game Cover" class="cover" src="{{ cover }}">
</div>

<div class="info">
  <pre>{{ description }}</pre>
  <div class="ratings">
    <div class="gbg-rating">
      <span *ngIf="gbgRating" class="rating">
      <strong>Avaliação do jogo</strong>
        <ngx-star-rating [(ngModel)]="gbgRating" [id]="'rating'" [disabled]="true"></ngx-star-rating>
      </span>
    </div>
  </div>
</div>

<div class="user-area">
  <div class="review">
    <div class="review-header">
      <div class="description">
        <h3>Escreva algo sobre o {{ title }}</h3>
        <small>Descreva o que você gostou ou não gostou sobre o jogo.</small>
      </div>
      <span class="rating">
        <ngx-input-star-rating [formControl]="form.get('grade')"></ngx-input-star-rating>
      </span>
    </div>
    <div class="input">
      <img src="{{ profilePicture }}" alt="User's profile picture">
      <textarea [formControl]="form.get('description')" class="input" name="user-review" id="user-review" cols="30" rows="6"></textarea>
    </div>
    <button mat-raised-button color="primary" (click)="post()">Postar</button>
  </div>
</div>