.cover-wrapper {
  width: 100vw;
  height: 33.3333333333vw;
  position: relative;

  color: #FFF;

  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 48px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  padding: 48px;
  font-family: sans-serif;
  color: #FFF;
  
  pre {
    font-family: sans-serif;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.2rem;
  }

  strong, span {
    display: block;
    line-height: 26px;
    max-height: 26px;
    position: relative;
  }

  strong {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }

  sup {
    font-size: 10px;
    position: absolute;
    top: -5px;
  }

  .ratings {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    gap: 24px;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.user-area {
  padding: 0 10%;
  padding-bottom: 100px;
  color: #FFF;

  .review {
    display: flex;
    flex-direction: column;
  }

  .review-header {
    display: flex;
    justify-content: space-between;
    
    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
    }
  
    small {
      font-size: 14px;
      line-height: 18px;
    }

    .rating {
      font-size: 18px;
      height: fit-content;
      align-self: flex-end;
    }
  }

  .input {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    
    & > * {
      border-radius: 5px;
    }

    img {
      display: block;
      width: 100px;
      height: 100px;
      box-sizing: border-box;
    }

    textarea {
      height: 100px;
      width: 100%;
    }
  }
}