<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Logo -->
    <div class="fadeIn first">
      <img class="logo" src="assets/logo-black.png" alt="logo">
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input formControlName="email" type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
      <input [disabled]="!form.valid" type="submit" class="fadeIn fourth" value="Entrar">
    </form>

  </div>
</div>