<div class="container">
  <app-header [headerBGUrl]="headerBGUrl" [showBanner]="true" [trending]="trending"></app-header>

  <div class="body" style="margin-top: 30rem;" *ngIf="trending">
    <ng-container *ngIf="trending?.results.length > 0">
      <app-slider title="Trending" [games]="trending" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Top Rated" [games]="trending" [sliderConfig]="sliderConfig"></app-slider>
    </ng-container>

    <ng-container *ngIf="!trending || trending?.results.length === 0">
      <div class="no-games">
        <h2>Não há jogos cadastrados</h2>
      </div>
    </ng-container>
  </div>

</div>
  